<%- include('../partials/header') %>

<div>Before adding, please ensure that the Ticket is not in the following list:</div>
<section id="badge-container">
  <% tickets.forEach(function(p) { %>
    <article class="badge"><%= p.name %></article>
  <% }) %>
</section>

<form id="add-ticket-form" action="/tickets" method="POST">
  <label>Name:</label>
  <input type="text" name="name">
  <label>Price:</label>
  <input type="price" name="number">
  <input type="submit" value="Add Ticket">
</form>

<%- include('../partials/footer') %>
