body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body {
  background: url("../images/airplane.png");  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: contain;
  height: 100vh;
  display: flex;  
  flex-direction: column;
    
}

h2 {
  color: red; 
}