<%- include('../partials/header') %>

<h2>Enter a New Flight</h2>
<form action="/flights" method="POST">
  <label>Airline:
    <input type="text" name="airline">
  </label><br>
  <label>Airport:
      <input type="text" name="airport">
    </label><br>
  <label>Flight Number:
      <input type="number" name="flightNo">
    </label><br>
    <label>Departs:
        <input type="number" name="departs">
    </label><br>

  <button type="submit">Add flight</button>
</form>

<%- include('../partials/footer') %>